.cart {
    table {
        tr {
            .th {
                color: $primary-color;
                background-color: #f0f2f5;
                text-align: center;
                &:nth-of-type(1) {
                    width: 5%;
                }
                &:nth-of-type(2) {
                    width: 30%;
                    text-align: left;
                }
                &:nth-of-type(4) {
                    width: 15%;
                }
                border-bottom: 1px solid rgba(black, 0.05);
            }
            td {
               img {
                    width: 90px;
                    height: 50px;
                    object-fit: cover;
                }
                
                    text-align: center;
                    border-bottom: 1px solid rgba(black, 0.05);
                    padding: 5px;
                    vertical-align: middle;
                    button {
                        margin: 0px 5px;
                    }
                    &:nth-of-type(2) {
                        text-align: left;
                    }
                }
                &.active {
                    background-color: rgba(darkseagreen, .35);
                }
            }
        }
    }

